domain: adgang.stgai.itkdev.dk # wishful thinking: adgang.demo.os2ai.dk

realm:
  name: demo-kommune-copy-5
  displayName: Demo Kommune (kopi 5)
systems:
  - name: os2ai
    displayName: OS2ai
    description: OS2ai Systemet
    rootUrl: https://demo.os2ai.dk/
    adminUrl: https://demo.os2ai.dk/
    baseUrl: https://demo.os2ai.dk/
    # TODO: should be generated instead of being set here - but we also need to inject in client systems.
    # We probably need a better approach than simple templating.
    # An operator creates secrets on demand perhaps?
    secret: eB2mmD1tYX2hrByAJXbl6q6Zj4dvfBvP
    secretGenerationTime: "1769173701"
    redirectUris:
      - https://demo.os2ai.dk/*
    postLogoutRedirectUris: https://demo.os2ai.dk/*
    webOrigins:
      - +
    protocol: openid-connect
    roles:
      - Builder
      - Base
    baseGroup:
      clientRoles:
        - Base
    groups:
      - name: admins
        description: Users with administrator permissions in OS2ai
        attributes:
          usertype:
            - admin
      - name: users
        description: Users with normal user access to OS2ai
        attributes:
          usertype:
            - user
    # Naming: protocolMappers is obscure. Really means we add fields to OIDC tokens
    protocolMappers:
      - type: oidc-usermodel-client-role-mapper
        attribute: client_roles # Not used for this mapper, only used for mapping
        config:
          introspection.token.claim: "true"
          multivalued: "true"
          userinfo.token.claim: "false"
          lightweight.claim: "true"
          id.token.claim: "true"
          access.token.claim: "true"
          claim.name: groups
          jsonType.label: String
      - type: oidc-usermodel-attribute-mapper
        attribute: usertype
        config:
          aggregate.attrs: "true"
          introspection.token.claim: "true"
          multivalued: "true"
          userinfo.token.claim: "true"
          id.token.claim: "true"
          lightweight.claim: "false"
          access.token.claim: "true"
          claim.name: roles
          jsonType.label: String
    fkaMappers:
      - displayName: 'userType: User'
        type: saml-advanced-group-idp-mapper
        config:
          syncMode: INHERIT
          attributes: '[{"key":"https://data.gov.dk/model/core/eid/privilegesSimple","value":"http://adgang.os2.eu/roles/usersystemrole/os2ai/user/1"}]'
          group: users
      - displayName: 'userType: Admin'
        type: saml-advanced-group-idp-mapper
        config:
          syncMode: INHERIT
          attributes: '[{"key":"https://data.gov.dk/model/core/eid/privilegesSimple","value":"http://adgang.os2.eu/roles/usersystemrole/os2ai/admin/1"}]'
          group: admins
      - displayName: 'user group: Builder'
        type: saml-advanced-role-idp-mapper
        config:
          syncMode: INHERIT
          attributes: '[{"key":"https://data.gov.dk/model/core/eid/privilegesSimple","value":"http://adgang.os2.eu/roles/usersystemrole/os2ai/builder/1"}]'
          role: Builder
